/* admin.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* text-align: center; */

}

header h1 {
    margin: 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

#logout {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    /* Couleur du texte en noir */
    text-decoration: none;
    /* Supprimer la ligne de texte */
    border-bottom: 1px solid black;
    /* Ajouter une ligne relevée */
}

#acceuil {
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    /* Couleur du texte en noir */
    text-decoration: none;
    /* Supprimer la ligne de texte */
    border-bottom: 1px solid black;
    /* Ajouter une ligne relevée */
    margin-right: 86%;
}