*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  background-color: rgb(242, 237, 237);
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.user-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
  height: 300px;
  width: 300px;

  border: 1px solid black;
  border-radius: 50%;
}

.user-info {
  flex-grow: 1;
}

button{
  border: 0;
  outline: 0;
  padding: 10px 20px;
  color: white;
  font-size: large;
  border-radius: 7px;
  cursor: pointer;
}

.quiz-container {
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
    
  min-width: 400px;
  max-width: 500px;
}

.wrongQuiz{
  background: #ff000030;
}

.correctQuiz{
  background: #00ff6e30;
}

.s-container{
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap:  wrap;
}